<div class="text-center">
  <div class="banner">
    <h1>Cocktails</h1>
    <div class="add-new">
      <h2 class="new-home"><%= link_to "Add New Cocktail", new_cocktail_path, class: "btn btn-primary" %></h2>
    </div>
  </div>
</div>
