// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "cocktails";

p {
  margin: 0;
}
.container {
  width: 80%;
  padding: 50px 0;
}
body {
  list-style: none;
}
.btn-primary {
  font-size: 20px;
}
.mycard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 225px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #ccc!important;
}

.hello {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
